@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cuprum';
    font-weight: 400;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}