@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cuprum';
    font-weight: 400;
    color: white;
    display: flex;
    background: black;
    font-size: 18px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info {
    width: 530;
    padding-top: 70px;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    margin: 30px 0;
    font-weight: 600;
}

.hero img {
    position: absolute;
    top: 150px;
    right: 0;
}

.light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,0.95) 20%);
}